{% extends "network/layout.html" %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script>
        const clearPosts = () => {
            document.getElementById('posts').innerHTML = '';
        }

        const updatePosts = (startIndex, endIndex) => {
            let url_temp = "{% url 'getFollowing' 0 9 %}";
            const url = url_temp.substring(0, url_temp.length - 3) + startIndex.toString() + "/" + endIndex.toString();
            fetch(url, {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                clearPosts();
                for(const key in data.post_likes){
                    post_like= data.post_likes[key]
                    const post= post_like.post;
                    const isLiked = post_like.isLiked
                    const likes = post_like.likes;
                    const id = post.id
                    const username = post.username;
                    const postText = post.postText;
                    const date = post.date;
                    const postElement = createPostElement(username, likes, postText, date, id, isLiked);
                    document.querySelector('#posts').append(postElement)
                }
                const shouldShowPrev = data.shouldShowPrev;
                const shouldShowNext = data.shouldShowNext;

                if(shouldShowPrev) {
                    console.log("SHOULD SHOW PREV IS TRUE")
                    const prevButton = document.createElement('button')
                    prevButton.startIndex = Math.max(startIndex - 10, 0);
                    prevButton.endIndex = endIndex - 10;
                    prevButton.innerHTML = 'Prev';
                    prevButton.onclick = function() {
                        updatePosts(this.startIndex, this.endIndex)
                    }
                    document.querySelector('#posts').append(prevButton)
                }

                if(shouldShowNext) {
                    console.log("SHOULD SHOW NEXT IS TRUE")
                    const nextButton = document.createElement('button')
                    nextButton.innerHTML = 'Next';
                    nextButton.startIndex = startIndex + 10;
                    nextButton.endIndex = endIndex + 10;
                    nextButton.onclick = function() {
                        updatePosts(this.startIndex, this.endIndex)
                    }
                    document.querySelector('#posts').append(nextButton)
                }
                
            })
            .catch(err => {
                console.log(err)
            })
        }


        const save = (postDiv, id) => {
            const id2 = id;
            let children = postDiv.children
            const text = children[0].value;
            const date = children[1].children[0].children[0].innerHTML
            //First, update the post
            fetch(`{% url 'save' %}`, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                body: JSON.stringify({
                    text: text,
                    username: "{{user.username}}",
                    date: date,
                    id: id2
                }) // body data type must match "Content-Type" header
            })
            .then(response => response.text())
            .then(data => {
                //first we swap the div element with the textarea
                if(data === "success"){
                    const postBodyDiv = document.createElement('div');
                    postBodyDiv.className = "post-body";
                    postBodyDiv.innerHTML = text;
                    postDiv.insertBefore(postBodyDiv, postDiv.children[0] )
                    postDiv.children[1].remove()
                    
                    //next, we swap the edit button with the save 
                    const row = children[postDiv.children.length - 1];
                    row.children[row.children.length-2].children[0].remove()
                    const editButton = document.createElement('button');
                    editButton.className = 'post-edit';
                    editButton.innerHTML = "Edit";
                    editButton.onclick = function() {
                        edit(postDiv, id);
                    }
                    const colEdit = document.createElement('div');
                    colEdit.className = 'col';
                    colEdit.append(editButton);

                    const likeButton = row.children[row.children.length-1];
                    row.removeChild(row.children[row.children.length-2]);
                    row.insertBefore(colEdit, likeButton);
                }
            })
            .catch(err => {
                console.log(err);
            })
        }

        const edit = (postDiv, id) => {
            const id2 = id
            let children = postDiv.children
            
            const text = children[0].innerHTML;
            
            //first we swap the textarea element with the div
            const textareaElement = document.createElement('textarea');
            textareaElement.innerHTML = text;
            textareaElement.className = "post-body";
            textareaElement.style.resize = "none";
            textareaElement.style.backgroundColor = "lightblue";
            textareaElement.style.borderStyle = "dotted";
            postDiv.insertBefore(textareaElement, postDiv.children[0] )
            postDiv.children[1].remove()
            
            //next, we swap the save button with the edit 
            const row = children[postDiv.children.length - 1];
            row.children[row.children.length-2].children[0].remove()

            
            saveButton = document.createElement('button');
            saveButton.className = 'post-edit';
            saveButton.innerHTML = "Save";
            saveButton.onclick = function() {
                save(postDiv, id2);
            }
            const colSave = document.createElement('div');
            colSave.className = 'col';
            colSave.append(saveButton);


            const likeButton = row.children[row.children.length-1];
            row.removeChild(row.children[row.children.length-2]);
            row.insertBefore(colSave, likeButton);
        }

        const like = (id, current_username, postDiv) => {
            fetch(`{% url 'like' %}`, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                body: JSON.stringify({
                    current_username: current_username,
                    id: id
                }) // body data type must match "Content-Type" header
            })
            .then(response => response.text())
            .then(data => {
                postDiv.children[1].children[2].children[0].innerHTML = "Likes: " + data
            })
            .catch(err => { console.log(err) })
        }

        const unlike = (id, current_username, postDiv) => {
            fetch(`{% url 'unlike' %}`, {
                method: 'PUT', // *GET, POST, PUT, DELETE, etc.
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': Cookies.get('csrftoken')
                },
                body: JSON.stringify({
                    current_username: current_username,
                    id: id
                }) // body data type must match "Content-Type" header
            })
            .then(response => response.text())
            .then(data => {
                //first we swap the div element with the textarea
                postDiv.children[1].children[2].children[0].innerHTML = "Likes: " + data
            })
            .catch(err => { console.log(err) })
        }

        const createPostElement = (username, likes, postText, date, id, isLiked) => {
            const id2 = id;
            const postDiv = document.createElement('div');
            postDiv.className = "post";

            const postBodyDiv = document.createElement('div');
            postBodyDiv.className = "post-body";
            postBodyDiv.innerHTML = postText

            const rowDiv = document.createElement('div');
            rowDiv.className = "row";
            rowDiv.style.height = "25%";

            const colDate = document.createElement('div');
            colDate.className = 'col';
            const colUsername = document.createElement('div');
            colUsername.className = 'col';
            const colLikes = document.createElement('div');
            colLikes.className = 'col';
            const colEdit = document.createElement('div');
            colEdit.className = 'col';
            const colLikeButton = document.createElement('div');
            colLikeButton.className = 'col';
            

            const dateElement = document.createElement('div');
            dateElement.className = 'post-date';
            dateElement.innerHTML = `Posted on ${date}`;
            colDate.append(dateElement);
            rowDiv.append(colDate);

            const usernameElement = document.createElement('div');
            usernameElement.className = 'post-username';
            usernameElement.innerHTML = 'Posted by ' + username;
            colUsername.append(usernameElement);
            rowDiv.append(colUsername);

            const likesElement = document.createElement('div');
            likesElement.className = 'post-username';
            likesElement.innerHTML = `Likes: ${likes}`;
            colLikes.append(likesElement);
            rowDiv.append(colLikes);

            const editButton = document.createElement('button');
            editButton.className = 'post-edit';
            editButton.innerHTML = "Edit";
            editButton.onclick = function() {
                edit(postDiv, id2);
            }

            colEdit.append(editButton);
            if(username === "{{user.username}}") {
                rowDiv.append(colEdit);
            }

            const likeButton = document.createElement('button');
            likeButton.className = 'post-likes';
            likeButton.innerHTML = (isLiked) ? "Unlike" : "Like";
            likeButton.onclick = function() {
                if(this.innerHTML === "Like"){
                    //post a like
                    like(id, "{{user.username}}", postDiv);
                    this.innerHTML = "Unlike";
                }else{
                    unlike(id, "{{user.username}}", postDiv);
                    this.innerHTML = "Like";
                }
            }
            colLikeButton.append(likeButton);
            rowDiv.append(colLikeButton)

            postDiv.append(postBodyDiv);
            postDiv.append(rowDiv);

            return postDiv;
        }

        window.addEventListener('DOMContentLoaded', (event) => {
            //const h = document.createElement('h1')

            fetch("{% url 'getFollowing' 0 9 %}", {
                method: 'GET'
            })
            .then(response => response.json())
            .then(data => {
                for(const key in data.post_likes){
                    post_like= data.post_likes[key]
                    const post= post_like.post;
                    const id = post.id;
                    const likes = post_like.likes;
                    const isLiked = post_like.isLiked
                    const username = post.username;
                    const postText = post.postText;
                    const date = post.date;
                    const postElement = createPostElement(username, likes, postText, date, id, isLiked);
                    document.querySelector('#posts').append(postElement)
                }
                const shouldShowPrev = data.shouldShowPrev;
                const shouldShowNext = data.shouldShowNext;

                if(shouldShowNext) {
                    const nextButton = document.createElement('button')
                    nextButton.startIndex = 10;
                    nextButton.endIndex = 19;
                    nextButton.innerHTML = 'Next';
                    nextButton.onclick = function() {
                        updatePosts(this.startIndex, this.endIndex)
                    }
                    document.querySelector('#posts').append(nextButton)
                }
                
            })
            .catch(err => {
                console.log(err)
            })

            //document.querySelector('#posts').append(h)
        })
    </script>
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="newPost">
            <h2>New Post</h2>
            <form method="POST" action="{% url 'post' %}">
                {% csrf_token %}
                <div class="form-group" style="height: 200px">
                    <textarea class="form-control" style="height: 100%; resize: none; width: 100%" name="postText" placeholder="Make a new post..."></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}
    
    <div id="posts">

    </div>

{% endblock %}