{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        {% if user.username != username %}
            {% if isFollower %}
                <form method="POST" action="{% url 'unfollow' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{currentUser.username}}" name="userFromName">
                    <input type="hidden" value="{{username}}" name="userToName">
                    <input class="btn btn-primary" type="submit" value="Unfollow">
                </form>
            {% else %}
                <form method="POST" action="{% url 'follow' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{currentUser.username}}" name="userFromName">
                    <input type="hidden" value="{{username}}" name="userToName">
                    <input class="btn btn-primary" type="submit" value="Follow">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
    
    {% for post_like in post_likes %}
        <div class="post">
            <div class="post-body">
                {{post_like.post.postText}}
            </div>

            <div class="row" style="height: 25%">
                <div class="col">
                    <div class="post-date">
                        Posted on {{ post_like.post.date }}
                    </div>
                </div>
                <div class="col">
                    <div class="post-username">
                        Posted by {{ post_like.post.user.username }}
                    </div>
                </div>
                <div class="col">
                    <div class="post-username">
                        Likes: {{ post_like.likes }}
                    </div>
                </div>
            </div>
              
        </div>
    {% endfor %}

{% endblock %}